<div class="hm-header">
  <div class="hm-logo">
    <h2>Ji<span class="hm-media">ve </span></h2>
  </div>
  <div class="hm-nav-bar">
    <div class="hm-nav-bar-inside">
      <ul>
        <li routerLinkActive="active-tabs" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Home</a></li>
        <li routerLinkActive="active-tabs" ><a >About us</a></li>
        <li routerLinkActive="active-tabs"><a >Contact Us</a></li>
        <li routerLinkActive="active-tabs" *showAuthed="false"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active-tabs" *showAuthed="false"><a routerLink="/register">Register</a></li>
        <li *showAuthed="true" ><a routerLink="" (click)="logout()">Logout</a></li>        
      </ul>
    </div>
  </div>
</div>